@model CalorieTracker.ViewModel.FoodEntryViewModel;

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Food Entries List</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>

@await Html.PartialAsync("../FoodEntry/Filter", Model.FoodEntryFilter)

<hr />
<table class="table">
    <thead>
        <tr>
            <th>
                Name
            </th>
            <th>
                Calories
            </th>
            <th>
                Date
            </th>
            <th>
                Guid
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.FoodEntries)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Calories)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Date)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Guid)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { guid = item.Guid }) |
                    @Html.ActionLink("Details", "Details", new { guid = item.Guid }) |
                    @Html.ActionLink("Delete", "DeleteFoodEntry", new { guid = item.Guid })
                </td>
            </tr>
        }
    </tbody>
</table>