@model IEnumerable<CalorieTrackerApi.Dtos.ReportDto>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>User Reports</h1>
<table class="table">
    <thead>
        <tr>
            <th>
                UserName
            </th>
            <th>
                Current Day: @DateTime.Today.ToShortDateString()
            </th>
            <th>
                Current Week: @DateTime.Today.AddDays(-6).ToShortDateString() to @DateTime.Today.ToShortDateString()
            </th>
            <th>
                Past Week: @DateTime.Today.AddDays(-12).AddSeconds(-1).ToShortDateString() to @DateTime.Today.AddDays(-6).AddSeconds(-1).ToShortDateString()
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.UserName)
            </td>
            <td>
                EntriesAdded - @Html.DisplayFor(modelItem => item.CurrentDay.FoodEntriesAdded) |
                CaloriesConsumed - @Html.DisplayFor(modelItem => item.CurrentDay.CaloriesConsumed) |
                Average - @Html.DisplayFor(modelItem => item.CurrentDay.AverageCaloriesConsumed)
            </td>
            <td>
                EntriesAdded - @Html.DisplayFor(modelItem => item.CurrentWeek.FoodEntriesAdded) |
                CaloriesConsumed - @Html.DisplayFor(modelItem => item.CurrentWeek.CaloriesConsumed) |
                Average - @Html.DisplayFor(modelItem => item.CurrentWeek.AverageCaloriesConsumed)
            </td>
            <td>
                EntriesAdded - @Html.DisplayFor(modelItem => item.PastWeek.FoodEntriesAdded) |
                CaloriesConsumed - @Html.DisplayFor(modelItem => item.PastWeek.CaloriesConsumed) |
                Average - @Html.DisplayFor(modelItem => item.PastWeek.AverageCaloriesConsumed)
            </td>
            <td>
                @Html.ActionLink("Details", "Details", new { userName = item.UserName }) |
                @Html.ActionLink("Details By Date", "DetailsByDate", new { userName = item.UserName })
            </td>
        </tr>
}
    </tbody>
</table>
